body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;

    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}
.input-box input::placeholder {
color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forget label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 6px;
}

.register-link a:hover {
    text-decoration: underline;
}

@media (max-width: 970px) {
    .wrapper {
    width: 98%;
    }

    .remember-forget label,a{
    font-size: 13px;
    }

    .register-link p,a {
    font-size: 15px;
    }
}
